html,
body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

/* header */

.head {
    position: fixed;
    z-index: 20;
    top: 30%;
    margin: 30px 0;
}

.head ul li {
    list-style: none;
    margin: 2.5em 0;
}

.head ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 2em;
}

.title {
    position: fixed;
    z-index: 11;
    top: 7%;
    left: 5%;
}

.title p {
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 1em;
}

.title p a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.title p a span {
    font-size: 10px;
}

#head {
    color: #fff;
    /* 元の色 */
}

#head.invert {
    color: #111111;
    /* スクロール後の色 */
}

/* main */

/*
.left_space {
    width: 20%;
    height: 100vh;
    float: left;
}

.right_space {
    width: 80%;
    height: 100vh;
}
*/

/* contact_title */

.contact_title {
    width: 50vw;
    height: 100vh;
    float: left;
    background-color: rgb(161, 161, 161);
}

.right_space p {
    font-size: 1.5em;
    /* letter-spacing: 0.3em; */
    margin-top: 260px;
    /* font-weight: 600; */
    margin-bottom: 20px;
}

.right_space i {
    margin-right: 1em;
    color: rgb(150, 150, 150);
}

.right_space a {
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-size: 1em;
    letter-spacing: 0.1em;
}

/* form */
table {
    padding: 10px;
    border-bottom: 1px solid #EEE;
}

.form {
    /* position: absolute;*/
    /* top: 85%; */
    /* left: 55%; */
    /* transform: translateY(-50%) translateX(-50%); */
    width: 50vw;
    background-color: aqua;
}



#form_list {
    margin: 4em;
    /* padding: 10px; */
    border-bottom: 1px solid #EEE;
    width: 1000px;
}


.form_item_text {
    font-size: 1em;
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

.form_item_textB {
    font-size: 1em;
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

.form_item_text::after {
    content: " *";
    color: rgb(222, 86, 86);
    vertical-align: middle;
}

.form_text {
    height: 3em;
    width: 60em;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    /* box-shadow: 0 0 0 1px #ccc inset; */
    /* margin: 1.5em 0; */
}

.form_text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

::placeholder {
    color: rgb(182, 182, 182);
    font-size: 1.1em;
}

.file_button {
    width: 20em;
    margin: 1.5em 0;
}

.form_button {
    text-align: center;
}

.form_butoon_css {
    /* width: 12em; */
    /* height: 4em; */
    background: white;
    border: 1px solid rgb(149, 149, 149);
    padding: 1em 3em;
    color: rgb(59, 59, 59);
    font-size: 1em;
    letter-spacing: 1em;
    border-radius: 9px;
}