html,
body {
    font-family: 'Cormorant', serif;
    background-color: rgb(243, 243, 243);
}


/* main */
.border-bottom {
    display: block;
    border-bottom: 1px solid rgb(123, 123, 123);
    margin: 0.3em 0;
}

.contact-wrap {
    position: absolute;
    top: 10%;
    padding: 10%;
    width: 80%;
}

.contact-mail a {
    text-decoration: none;
    color: black;
    padding: 0.5em 0;
    display: block;
    margin: 3em 0;
    border: 1px solid rgb(199, 199, 199);
    padding: 0.5em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    width: 17em;
}

.contact-mail a i {
    margin-right: 1em;
    font-size: 0.8em;
    color: rgb(68, 68, 68);
}

.contact_form_attention {
    margin: 2em 0;
}

.contact_form_attention span {
    font-size: 0.7em;
    margin: 2em 0;
    display: block;
}

.entries {
    margin-bottom: 4em;
}

.entries ul {
    padding: 0em;
}

.entries ul li {
    margin: 0.5em 0;
    list-style: none;
}

.entries ul li span {
    margin-right: 0.5em;
}

footer {
    position: absolute;
    bottom: -11em;
    left: 10%;
}

.navi-copyright {
    color: grey;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    padding: 1em 0;
    display: block;
    margin-bottom: 2em;
}