html,
body {
    font-family: 'Marcellus', serif;
    background-color: rgb(243, 243, 243);
}


/* main */
/* category */
.tag {
    font-size: 1em;
    letter-spacing: 0.1em;
    float: left;
    color: rgb(157, 157, 157);
}

.tag i {
    margin-right: 0.5em;
}

.category {
    position: absolute;
    top: 20vh;
    float: left;
    width: 80%;
    height: 3em;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Marcellus', serif;
    border-top: 1px solid rgb(193, 193, 193);
    border-bottom: 1px solid rgb(193, 193, 193);
}

.category ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    color: rgb(130, 130, 130);
}

.category ul li {
    list-style: none;
    font-size: 0.8em;
    margin-right: 1em;
    color: rgb(69, 69, 69);
}

.category ul i {
    color: rgb(130, 130, 130);
}

.works-title {
    position: absolute;
    top: 15%;
    left: 10%;
}

.works-year {
    font-size: 4em;
    color: rgb(0, 0, 0);
}

.works-list {
    position: absolute;
    top: 27vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
}

.works-list ul {
    padding: 0;
}

.works-list ul li {
    list-style: none;
    display: contents;
}

.works-list-li {
    width: 100%;
    height: 7vh;
}

.works-list ul li a {
    text-decoration: none;
    margin: 2.5em 0;
    display: block;
}

.works-img {
    width: 100%;
    height: 24vh;
}

.works-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works-list ul li a p {
    color: black;
    font-size: 1em;
    width: 100%;
}

.works-list ul li a span {
    font-size: 0.9em;
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 0.5em;
}

.works-text {
    /*
    display: flex;
    flex-wrap: wrap;
    */
}

.works-text {
    margin: 1em 0;
}

.works-text p {
    width: 50%;
    margin: 0;
    margin-top: 0.5em;
}

.right {
    text-align: right;
    display: block;
}

@media screen and (min-width: 768px) {
    .works-list {
        position: absolute;
        top: 20vh;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
    }

    .works-list ul li {
        list-style: none;
        display: block;
        width: 47%;
        height: 45vh;
        float: left;
        margin: 2em 1em;
    }

    .works-img {
        width: 100%;
        height: 35vh;
    }

    .works-list ul li a p {
        font-size: 1.3em;
    }

    .works-list ul li a span {
        font-size: 1.2em;
    }

    .category ul li {
        font-size: 1.2em;
    }
}