* {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-attachment: fixed;
}

.background {
    background: linear-gradient(120deg, #f3f3f3, #d8d8d8);
    /* #f6f7fc,
        #c6d2db*/
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
}

.popup-img {
    width: 80vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}

.popup-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imgB {
    width: initial;
}

.popup-text {
    position: absolute;
    z-index: 1000;
    width: 90%;
    height: 100vh;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10% 5%;
    box-sizing: border-box;
}

.Close {
    position: fixed;
    top: 7%;
    left: 10%;
    color: #a0a0a0;
    font-size: 0.8em;
    /* font-weight: 500; */
    letter-spacing: 0.1em;
}

.cross {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 1px;
    transform: rotate(45deg);
    vertical-align: middle;
    margin-right: 0.5em;
    top: -0.1em;
}

.cross::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}

.cross,
.cross::before {
    background: #a0a0a0;
}

.Visit {
    position: fixed;
    bottom: 4%;
    font-size: 0.9em;
    width: 100px;
    height: 100px;
    border: solid 0.5px #a0a0a0;
    border-radius: 50%;
    left: 10%;
}

.Visit a {
    text-decoration: none;
    color: #a0a0a0;
    position: relative;
    top: 40%;
    /* bottom: 0; */
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    font-weight: 100;
    font-size: 1.2em;
}

.popup-attention {
    width: 99px;
    position: fixed;
    right: 4%;
    bottom: 30%;
    font-size: 0.5em;
    line-height: 1.5rem;
    color: rgb(255, 255, 255);
}

.Prev-Next {
    position: fixed;
    bottom: 5%;
    right: 10%;
    display: flex;
    font-weight: 500;
}

.Visit,
.Prev-Next {
    color: rgb(255, 255, 255);
}

.P-Nline {
    height: 1px;
    width: 3em;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0.8em;
    margin: 0 1em;
}

/* 縦スワイプ横スクロール　コピペ */
.area {
    overflow: hidden;
}

.wrap {
    display: flex;
}

.item {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin: 0.5em;
}

.item01 {
    background: #e94d15;
}

.item02 {
    background: #f18d1d;
}

.item03 {
    background: #f8b633;
}


.item05 {
    box-sizing: border-box;
}